<%= content_for(:page, "journal") %>

<div class="container">
  <h1>My Journal</h1>
  <div class="row justify-content-center">
    <div class="col-sm-9">
    <p><em>Here you'll find all your completed challenges. See how far you have gone !</em> 🤩</p>
      <!-- card_participations = Challenge.title + Feedback + Ratings -->
      <% @participations.each do |participation| %>
        <!-- Si participation.validated? (si les ratings + feedback sont complétés = true sinon false), on n'affiche pas la participation -->
        <% if participation.validated? %>

          <div class="card-trip border-<%= participation.challenge.category.gsub(/\s+/, "").downcase %>">
            <div class="card-trip-infos">
              <div>
                <h2><%= image_tag participation.challenge.show_category_logo, size: "20" %> <%= participation.challenge.title %></h2>
                <p>Your feedback : <%= participation.feedback %>
                </p>
              </div>
            </div>
            <div class="card-trip-pricing">
                  Difficulty :
                    <% participation.difficulty.times do %>
                      <i class="fas fa-dragon"></i>
                    <% end %>
                    <% (5 - participation.difficulty).times  do %>
                      <%= image_tag("dragon_vide.png", size: "19") %>
                    <% end %>
                    <br>
                  Appreciation :
                  <% participation.appreciation.times do %>
                    <i class="fas fa-heart color-<%= participation.challenge.category.gsub(/\s+/, "").downcase %>"></i>
                  <% end %>
                  <% (5 - participation.appreciation).times do %>
                    <i class="far fa-heart color-<%= participation.challenge.category.gsub(/\s+/, "").downcase %>"></i>
                  <% end %>
            </div>
          </div>
        <% end %>
      <% end %>


    </div>

    <div class="col-sm-3">
    <% if @bookmarkeds.empty? %>
    <div style="text-align: center">
      <p><em>You haven't bookmarked any role models yet</em></p>
      <%= link_to "Find a role model", role_models_path, title:"Find a role model", class: "btn-3d" %>
    </div>
    <% else %>
      <p>Your favorite role models ⭐️</p>
      <div class="row">
        <% @bookmarkeds.each do |bookmarked| %>
          <%= link_to role_model_path(bookmarked.role_model) do %>
          <div class="card mb-3 model_profile_card p-3">
            <div class="card-body">
              <h5 class="card-title" style="color: black"><%= bookmarked.role_model.first_name %> <strong><%= bookmarked.role_model.last_name %></strong></h5>
              <p class="card-subtitle mb-2 text-muted"><%= bookmarked.role_model.sector %></p>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
     <% end %>

    </div>
  </div>
</div>


