<%= content_for(:page, "journal") %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm">
      <h1>My Journal</h1>
      <p><em>Here you'll find all your completed challenges. Feel free to come here to see how far you have gone !</em> 🤩</p>
      <br>

      <!-- card_participations = Challenge.title + Feedback + Ratings -->
      <% @participations.each do |participation| %>
        <!-- Si participation.validated? (si les ratings + feedback sont complétés = true sinon false), on n'affiche pas la participation -->
        <% if participation.validated? %>

          <div class="card-trip border-<%= participation.challenge.category.gsub(/\s+/, "").downcase %>">
            <div class="card-trip-infos">
              <div>
                <h2><%= image_tag participation.challenge.show_category_logo, size: "20" %> <%= participation.challenge.title %></h2>
                <p>Your feedback : <%= participation.feedback %>
                </p>
              </div>
            </div>
            <div class="card-trip-pricing">
                  Difficulty :
                    <% participation.difficulty.times do %>
                      <i class="fas fa-dragon"></i>
                    <% end %>
                    <% (5 - participation.difficulty).times  do %>
                      <%= image_tag("dragon_vide.png", size: "19") %>
                    <% end %>
                    <br>
                  Appreciation :
                  <% participation.appreciation.times do %>
                    <i class="fas fa-heart color-<%= participation.challenge.category.gsub(/\s+/, "").downcase %>"></i>
                  <% end %>
                  <% (5 - participation.appreciation).times do %>
                    <i class="far fa-heart color-<%= participation.challenge.category.gsub(/\s+/, "").downcase %>"></i>
                  <% end %>
            </div>
          </div>
        <% end %>
      <% end %>


    </div>
  </div>
</div>


