<div class="navbar navbar-expand-sm navbar-light navbar-challenger">
  <div class="logo">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "dragon_blanc.png",  size: "50", class: "logo logo-white animated flip"%>
      <%= image_tag "dragon_logo.png",  size: "50", class: "logo logo-black animated flip"%>
      <% end %>
  </div>

<!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= link_to dashboard_path, class: "navlink-top #{'active' if yield(:page) == 'dashboard'}" do %>
        Dashboard
      <% end %>

      <%= link_to challenges_home_path, class: "navlink-top #{'active' if yield(:page) == 'challenges' || yield(:page) == 'challenge' }" do %>
        Challenges
        <% end %>

      <%= link_to participations_path, class: "navlink-top #{'active' if yield(:page) == 'journal'}" do %>
        Journal
      <% end %>

      <%= link_to role_models_path, class: "navlink-top #{'active' if yield(:page) == 'inspiration'}" do %>
        Inspirations
      <% end %>

      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, class: "navlink-top", method: :delete, data: { confirm: 'Are you sure?' } %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "navlink-top" %>
      <% end %>
    </ul>
  </div>
</div>
