<div class="navbar navbar-expand-sm navbar-light navbar-home">


<!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <%= link_to dashboard_path, class: "navlink-top #{'active' if yield(:page) == 'dashboard'}" do %>
        Dashboard
      <% end %>

      <%= link_to challenges_home_path, class: "navlink-top #{'active' if yield(:page) == 'challenges' || yield(:page) == 'challenge' }" do %>
        Challenges
        <% end %>

      <%= link_to participations_path, class: "navlink-top #{'active' if yield(:page) == 'journal'}" do %>
        Journal
      <% end %>

      <%= link_to role_models_path, class: "navlink-top #{'active' if yield(:page) == 'inspiration'}" do %>
        Inspirations
      <% end %>

      <%= link_to destroy_user_session_path, class: "navlink-top", method: :delete, title:"Sign out", data: { confirm: 'Are you sure?' } do %>
        <i class="logo-s fas fa-sign-out-alt"></i>
        <% end %>

      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "navlink-top" %>
      <% end %>
    </ul>
  </div>
</div>
