<div class="nav d-flex">

  <%= link_to challenges_home_path, class: "navbar-logo mt-0" do %>
    <i class="logo fas fa-lightbulb fa-lg"></i>
  <% end %>

  <div class="menu d-flex flex-column">
    <%= link_to dashboard_path, class: "navlink" do %>
      <i class="logo-d fas fa-home"></i>Dashboard
    <% end %>

    <%= link_to participations_path, class: "navlink" do %>
      <i class="logo-j far fa-newspaper"></i>Journal
    <% end %>

    <%= link_to role_models_path, class: "navlink" do %>
      <i class="logo-i fas fa-lightbulb"></i>Inspiration
    <% end %>

    <a href="" id="collapse" data-toggle="collapse"><i class="fas fa-chevron-left fa-lg"></i></a>

  </div>

  <%= link_to destroy_user_session_path, class: "navlink mb-0" do %>
    <i class="logo-s fas fa-sign-out-alt"></i>Sign out
  <% end %>
</div>

