<%= content_for(:page, "dashboard") %>

<div class="container" style="margin-top: 100px";>
  <div class="bottom-dash">
    <div class="chart-space">
      <canvas id="polarChart" data-daily="<%= @counter[:dailyactivities] %>" data-future="<%= @counter[:futureme] %>" data-interactions="<%= @counter[:interactions] %>" data-curiosity="<%= @counter[:curiosity] %>"></canvas>
    </div>

    <div class="rewards">
      <% @counter.each do |key, value| %>
        <% if value >= 3 %>
          <div class="reward">
            <div class="reward-content">
              <% if key == :futureme %>
                <i class=" <%= key %> fas fa-medal fa-lg"></i>
              <% elsif key == :dailyactivities %>
                <i class=" <%= key %> fas fa-medal fa-lg"></i>
              <% elsif key == :interactions %>
                <i class=" <%= key %> fas fa-medal fa-lg"></i>
              <% elsif key == :curiosity %>
                <i class=" <%= key %> fas fa-medal fa-lg"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if @counter[:dailyactivities] == @counter[:futureme] && @counter[:futureme] == @counter[:interactions] && @counter[:interactions] == @counter[:curiosity] %>
        <% if @counter[:dailyactivities] >= 1 %>
          <div class="reward">
            <i class="bronze fas fa-trophy fa-lg"></i>
          </div>
        <% end %>
        <% if @counter[:dailyactivities] >= 2 %>
          <div class="reward">
            <i class="silver fas fa-trophy fa-lg"></i>
          </div>
        <% end %>
        <% if @counter[:dailyactivities] >= 3 %>
          <div class="reward">
            <i class="gold fas fa-trophy fa-lg"></i>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div>
    <div class="dashboard-element">
      <h3><em>Ongoing challenges</em> (<%= @undone_participations.length %>)</h3>
      <br>
      <% if @undone_participations.empty? %>
        <div class="d-flex justify-content-center align-items-center">
          <%= link_to "Challenge me", challenges_home_path, id:"newchallenge" %>
          <%= image_tag "emoji/026-grinning.png", size: 50 %>
        </div>
      <% else %>
        <% @undone_participations.each do |participation| %>
          <%= render 'non_done_card', participation: participation %>
        <% end %>
      <% end %>
      <br>
    </div>
  </div>
</div>

<!-- Modal -->
<% @participations.each do |participation| %>
  <div class="modal fade" id="exampleModal<%= participation.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-participation="<%= participation.id %>" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Give your feedback</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for participation, remote: false do |f| %>
            <%= f.input :feedback, as: :text, label: 'Go on and describe your experience !', error: 'Be able to look back and analyse your experience is a huge part of building self confidence. Put a feedback !', placeholder: 'I was not sure I could it, I waited a lot, then I pulled myself out there and I felt great afterward, because I could push myself.' %>
            <%= f.input :appreciation, collection: (1..5).to_a, label: 'How much did you appreciate this challenge ?', input_html: {class: "modal-rating"} %>
            <%= f.input :difficulty, collection: (1..5).to_a, label: 'How much did you find it difficult ?', input_html: {class: "modal-rating"} %>
            <%= f.submit "Validate", id:"btn-confetti#{participation.id}", class: "btn-3d"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>


