<%= content_for(:page, "dashboard") %>


<div class="bottom-dash d-flex justify-content-between mx-4">
  <div>
    <canvas id="polarChart" data-daily="<%= @counter[:dailyactivities] %>" data-future="<%= @counter[:futureme] %>" data-interactions="<%= @counter[:interactiions] %>" data-curiosity="<%= @counter[:curiosity] %>"></canvas>
  </div>
  <div class="scrollbar scrollbar-primary box">
    <div class="force-overflow rewards">
      <% @counter.each do |key, value| %>
        <% if value >= 1 %>
          <div class="reward">
            <i class=" <%= key %> fas fa-medal fa-lg"></i>
            <div class="reward-content">
              <% if key == :futureme %>
                <% cat = "Future me" %>
                <p><strong><%= cat %></strong></p>
                <p>Congratulations ! You completed 1 challenges</p>
              <% elsif key == :dailyactivities %>
                <% cat = "Daily activities" %>
                <p><strong><%= cat %></strong></p>
                <p>Congratulations ! You completed 1 challenges</p>
              <% elsif key == :interactions %>
                <p><strong><%= key.capitalize %></strong></p>
                <p>Congratulations ! You completed 1 challenges</p>
              <% elsif key == :curiosity %>
                <p><strong><%= key.capitalize %></strong></p>
                <p>Congratulations ! You completed 1 challenges</p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container d-flex flex-column">

  <!-- <div class="scrollbar scrollbar-primary"> -->
    <div class="force-overflow">

      <% @participations.each do |participation| %>
        <% if participation.validated? %>
          <div class="follow">
            <div class="notification">
              <div class="notification-content">
                <p><strong><%= participation.challenge.category %></strong></p>
                <p><%= participation.challenge.title %> | <small><%= link_to "#{participation.challenge.role_model.first_name} #{participation.challenge.role_model.last_name}", role_model_path(participation.challenge.role_model) %></small></p>
              </div>
              <div class="notification-actions">
                <a href="#" id="check" data-toggle="modal" data-target="#exampleModal<%= participation.id %>"><i class="far fa-check-circle fa-lg"></i></a>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-striped <%= participation.challenge.category.gsub(/\s+/, "").downcase %>" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        <% else %>
          <div class="follow done">
            <div class="notification">
              <div class="notification-content">
                <p><strong><%= participation.challenge.category %></strong></p>
                <p><%= participation.challenge.title %> | <small><%= link_to "#{participation.challenge.role_model.first_name} #{participation.challenge.role_model.last_name}", role_model_path(participation.challenge.role_model) %></small></p>
              </div>
              <div class="notification-actions">
                <p><em>Validated !</em></p>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-striped done-back" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        <% end %>
      <% end %>
 <!--    </div> -->
  </div>
</div>

<!-- cards d'instances de Participation qui montre le détail du challenge -->
<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-sm">
      <% @participations.each do |participation| %>
        <div class="card-trip">
          <div class="card-trip-infos">
            <h2>Challenge : <%= participation.challenge.title %></h2>
            <h4>Category : <%= participation.challenge.category %></h4>
            <h5>Proposed to you by : <%= participation.challenge.role_model.first_name %> <%= participation.challenge.role_model.last_name %></h5>
            <p> <%= link_to "learn more about #{participation.challenge.role_model.gender?}", role_model_path(participation.challenge.role_model) %>  </p>
            <p><%= participation.challenge.description %></p>
          </div>
          <div class="card-challenge-success">
            Si participation.validated? (si les ratings + feedback sont complétés = true sinon false), on affiche un boutton pour envoyer le form de feedback
            <% if participation.validated? %>
              <div>
                <p> Yeah ! You're the best !<i class="far fa-check-circle"></i></p>
              </div>
            <% else %>
              <div>
                <p>You need to give a feedback to validate your challenge ! <i class="fas fa-chevron-circle-right"></i></p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%= participation.id %>">
                  Launch demo modal
                </button>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
 -->
<!-- Modal -->
<% @participations.each do |participation| %>
  <div class="modal fade" id="exampleModal<%= participation.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Give your feedback</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for participation do |f| %>
            <%= f.input :feedback, as: :text, label: 'Go on and describe your experience !', error: 'Be able to look back and analyse your experience is a huge part of building self confidence. Put a feedback !', placeholder: 'I was not sure I could it, I waited a lot, then I pulled myself out there and I felt great afterward, because I could push my self.' %>
            <%= f.input :appreciation, collection: (1..5).to_a, label: 'How much did you appreciate this challenge ?', input_html: {class: "modal-rating"} %>
            <%= f.input :difficulty, collection: (1..5).to_a, label: 'How much did you find it difficult ?', input_html: {class: "modal-rating"} %>
            <%= f.button :submit, "Validate", class: "btn-3d"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
