<%= content_for(:page, "dashboard") %>

<div class="container" style="margin-top: 100px";>
  <div class="bottom-dash">
    <div class="chart-space">
      <canvas id="polarChart" data-daily="<%= @counter[:dailyactivities] %>" data-future="<%= @counter[:futureme] %>" data-interactions="<%= @counter[:interactions] %>" data-curiosity="<%= @counter[:curiosity] %>"></canvas>
    </div>

    <div class="rewards">
      <% @counter.each do |key, value| %>
        <% if value >= 3 %>
          <div class="reward">
            <div class="reward-content">
              <% if key == :futureme %>
                <%= image_tag('medailles/dragon_3_future_me.png', size: "100") %> <!-- dragon couleur cat -->
                <!-- <i class=" <%= key %> fas fa-medal fa-lg"></i> -->
              <% elsif key == :dailyactivities %>
                <%= image_tag('medailles/dragon_3_daily_activities.png', size: "100") %> <!-- dragon couleur cat -->
                <!--  <i class=" <%= key %> fas fa-medal fa-lg"></i> -->
              <% elsif key == :interactions %>
                <%= image_tag('medailles/dragon_3_interactions.png', size: "100") %> <!-- dragon couleur cat -->
                <!-- <i class=" <%= key %> fas fa-medal fa-lg"></i> -->
              <% elsif key == :curiosity %>
                <%= image_tag('medailles/dragon_3_curiosity.png', size: "100") %> <!-- dragon couleur cat -->
                <!-- <i class=" <%= key %> fas fa-medal fa-lg"></i> -->
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if @counter[:dailyactivities] == @counter[:futureme] && @counter[:futureme] == @counter[:interactions] && @counter[:interactions] == @counter[:curiosity] %>
        <% if @counter[:dailyactivities] >= 1 %>
          <div class="reward">
            <%= image_tag('medailles/dragon_1_all.png', size: "100") %> <!-- bébé dragon -->
            <!-- <i class="bronze fas fa-trophy fa-lg"></i> -->
          </div>
        <% end %>
        <% if @counter[:dailyactivities] >= 2 %>
          <div class="reward">
            <%= image_tag('medailles/dragon_2_all.png', size: "100") %> <!-- petit dragon -->
            <!-- <i class="silver fas fa-trophy fa-lg"></i> -->
          </div>
        <% end %>
        <% if @counter[:dailyactivities] >= 3 %>
          <div class="reward">
            <%= image_tag('medailles/dragon_3_all.png', size: "100") %> <!-- grand dragon -->
            <!-- <i class="gold fas fa-trophy fa-lg"></i> -->
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div>
    <div class="dashboard-element">
      <div class="titles">
        <% if @undone_participations.length >= 2 %>
          <h4><em>Ongoing challenges</em> (<%= @undone_participations.length %>)</h4>
        <% else %>
          <h4><em>Ongoing challenge</em> (<%= @undone_participations.length %>)</h4>
        <% end %>
      </div>
      <br>
      <% if @undone_participations.empty? %>
        <div class="d-flex justify-content-center align-items-center">
          <%= link_to "Challenge me", challenges_home_path, class:"newchallenge" %>
          <%= image_tag "emoji/026-grinning.png", size: 50 %>
        </div>
      <% else %>
        <div class="force-overflow">
          <div class="force-overflow dashboard-element">
            <% @undone_participations.each do |participation| %>
              <%= render 'non_done_card', participation: participation %>
            <% end %>
          </div>
        </div>
       <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<% @participations.each do |participation| %>
  <div class="modal fade" id="exampleModal<%= participation.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-participation="<%= participation.id %>" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Give your feedback</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for participation, remote: false do |f| %>
            <%= f.input :feedback, as: :text, label: 'Description', error: 'Put a feedback !', placeholder: 'Really great challenge...' %>
            <div class="d-flex justify-content-around">
              <%= f.input :appreciation, collection: (1..5).to_a, label: content_tag(:i, "" , class: "fas fa-heart") + "  LIKE", input_html: {class: "modal-rating"} %>
              <%= f.input :difficulty, collection: (1..5).to_a, label: image_tag('dragon_logo.png', size: "20") + "  DIFFICULTY", input_html: {class: "modal-rating"} %>
            </div>

            <div class="d-flex justify-content-left. align-items-center">
              <%= f.submit "Validate", id:"btn-confetti#{participation.id}", class: "newchallenge"%>
              <%= image_tag "emoji/102-love.png", size: 50 %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>


