<%= content_for(:page, "challenge") %>

<div class="row">

  <div id="carouselExampleControls" class="carousel slide"  data-interval="false" data-ride="carousel">
    <div class="carousel-inner">
      <% @undone_challenges.each_with_index do |challenge, index| %>
      <% active = index == 0 ? "active" : "" %>
            <div class="carousel-item <%= active%>">
              <div class="card bg-<%= challenge.category.gsub(/\s+/, "").downcase %>" style="height: 453px">
                <div class="card-body padd">
                  <div class="card-inside-color-<%= challenge.category.gsub(/\s+/, "").downcase %>">
                    <h2 class="card-title"><em><%= challenge.title %></em></h2>
                    <%= image_tag challenge.show_category_logo, size: "100" %>
                    <h6 class="card-text"><%= challenge.description %></p>
                    <br>
                    <div class="btn-challenge">
                      <%= link_to "Let's go!", challenge_participations_path(challenge),  method: :post %>
                      <svg>
                        <polyline class="o1" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
                        <polyline class="o2" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      <% end %>

      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>


</div>

<br>
<%= link_to "Back", challenges_home_path, class: "btn-3d"  %>
