<%= content_for(:page, "challenges") %>

<div class="main-wrapper">
  <div class="container">

    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="categories-wrapper">

          <!-- Daily actovities category -->
          <div class="flip-card">
            <div class="category daily-activities flip-card-inner">
              <div class="category-padding flip-card-front">
                <%= image_tag "illustrations/flamenco-logged-out.png", class:"category-challenge" %>
              </div>
              <div class="flip-card-back daily-activities-back">
                <div class="flip-card-back-content">
                  <h3>Daily Activities</h3>
                  <%= link_to "", challenges_daily_activities_path %>
                </div>
              </div>
            </div>
          </div>

          <!-- Future Me category -->
          <div class="flip-card">
            <div class="category future-me flip-card-inner">
              <div class="category-padding flip-card-front">
                <%= image_tag "illustrations/flamenco-uploading-1.png", class:"category-challenge" %>
              </div>
              <div class="flip-card-back future-me-back">
                <div class="flip-card-back-content">
                  <h3>Future Me</h3>
                  <%= link_to "", challenges_future_me_path %>
                </div>
              </div>
            </div>
          </div>

          <!-- Interactions category -->
          <div class="flip-card">
            <div class="category interactions flip-card-inner">
              <div class="category-padding flip-card-front">
                <%= image_tag "illustrations/flamenco-welcome.png", class:"category-challenge" %>
              </div>
              <div class="flip-card-back interactions-back">
                <div class="flip-card-back-content">
                  <h3>Interactions</h3>
                  <%= link_to "", challenges_interactions_path %>
                </div>
              </div>
            </div>
          </div>

          <!-- Curiosity category -->
          <div class="flip-card">
            <div class="category curiosity flip-card-inner">
              <div class="category-padding flip-card-front">
                <%= image_tag "illustrations/flamenco-searching-1.png", class:"category-challenge" %>
              </div>
              <div class="flip-card-back curiosity-back">
                <div class="flip-card-back-content">
                  <h3>Curiosity</h3>
                  <%= link_to "", challenges_curiosity_path %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

  </div>
</div>

