¶<%= content_for(:page, "challenges") %>

<div class="container">
  <h1 class="mt-4 mb-4" style="text-align: center">Challenge yourself today!</h1>
  <div class="d-flex justify-content-center align-items-center">

<!-- Daily actovities category -->
    <div class="">
      <%= link_to challenges_daily_activities_path do %>
        <div class="challenge">
          <%= image_tag "illustrations/flamenco-uploading-1.png" %>
        </div>
      <% end %>
    </div>

<!-- Future Me category -->
    <div class="">
      <%= link_to challenges_future_me_path do %>
        <div class="challenge">
          <%= image_tag "illustrations/flamenco-page-under-construction.png" %>
        </div>
      <% end %>
    </div>

<!-- Interactions category -->
    <div class="">
      <%= link_to challenges_interactions_path do %>
        <div class="challenge">
          <%= image_tag "illustrations/flamenco-welcome.png" %>
        </div>
      <% end %>
    </div>

<!-- Curiosity category -->
    <div class="">
      <%= link_to challenges_curiosity_path do %>
        <div class="challenge">
          <%= image_tag "illustrations/flamenco-logged-out.png" %>
        </div>
      <% end %>
    </div>

  </div>
</div>

