¶<%= content_for(:page, "challenges") %>

<div class="main-wrapper">
  <div class="container">

    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
      <div class="categories-wrapper">

        <!-- Daily actovities category -->
        <div class="category daily-activities">
          <div class="category-padding">
            <%= link_to challenges_daily_activities_path do %>
              <div class="category-challenge" style="background-image: url(<%= image_path "illustrations/flamenco-uploading-1.png" %>)"></div>
            <% end %>
          </div>
        </div>

        <!-- Future Me category -->
        <div class="category future-me">
          <div class="category-padding">
            <%= link_to challenges_future_me_path do %>
              <div class="category-challenge" style="background-image: url(<%= image_path "illustrations/flamenco-page-under-construction.png" %>)"></div>
            <% end %>
          </div>
        </div>

        <!-- Interactions category -->
        <div class="category interactions">
          <div class="category-padding">
            <%= link_to challenges_interactions_path do %>
              <div class="category-challenge" style="background-image: url(<%= image_path "illustrations/flamenco-welcome.png" %>)"></div>
            <% end %>
          </div>
        </div>

        <!-- Curiosity category -->
        <div class="category curiosity">
          <div class="category-padding">
            <%= link_to challenges_curiosity_path do %>
              <div class="category-challenge" style="background-image: url(<%= image_path "illustrations/flamenco-logged-out.png" %>)"></div>
            <% end %>
          /<div>
        </div>
      </div>
    </div>
  </div>

</div>

