¶<%= content_for(:page, "challenges") %>

<div class="container">
  <h1 class="mt-5" style="text-align: center">Challenge yourself today!</h1>

  <div class="d-flex">
    <div class="row justify-content-center">

<!-- Daily actovities category -->
      <div class="col-ml-6">
        <div class="">
          <div class="">
            <%= link_to challenges_daily_activities_path do %>
                <div class="bg-dailyactivities">
                  <div class="d-flex justify-content-around align-items-center">
                    <%= image_tag "illustrations/bermuda-done.png", size: "300" %>
                  </div>
                </div>

            <% end %>
          </div>
        </div>
      </div>

<!-- Future Me category -->
      <div class="col-ml-6">
        <div class="">
          <div class="">
            <%= link_to challenges_future_me_path do %>
                <div class="">
                  <div class="d-flex justify-content-around align-items-center">
                    <%= image_tag "illustrations/bermuda-success.png", size: "300" %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>

<!-- Interactions category -->
      <div class="col-ml-6">
        <div class="">
          <div class="">
            <%= link_to challenges_interactions_path do %>
                <div class="">
                  <div class="d-flex justify-content-around align-items-center">
                    <%= image_tag "illustrations/bermuda-logged-out.png", size: "300" %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>

<!-- Curiosity category -->
      <div class="col-ml-6">
        <div class="">
          <div class="">
            <%= link_to challenges_curiosity_path do %>
                <div class="">
                  <div class="d-flex justify-content-around align-items-center">
                    <%= image_tag "illustrations/bermuda-searching.png", size: "300" %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

