<!-- # profile card
# infos about one role model -->
<div class="container">

  <div class="model_card">
    <div class="card_image">
      <%= image_tag(@role_model.picture, alt:'', title:(@role_model.first_name + " " + @role_model.last_name) )if @role_model.picture %>
    </div>
      <h4 class="card-title"><%= @role_model.first_name %> <%= @role_model.last_name %></h4>
      <p class="card-subtitle mb-2 text-muted "><%= @role_model.sector %></p>
      <p class="card-text"><%= @role_model.description %></p>
      <% if @role_model.first_name && @role_model.last_name %>
      <a href="https://en.wikipedia.org/wiki/ <%= @role_model.first_name + ' ' + @role_model.last_name%>" target="_blank">See more</a>
      <% end %>
  </div>
 <button><%= link_to "Back to search", role_models_path, title:"Back to search" %></button>
</div>
