<!-- # profile card
# infos about one role model -->
<div class="container">
  <div class="model_card">
      <h4><%= @role_model.first_name %> <%= @role_model.last_name %></h4>
      <p><%= @role_model.sector %></p>
      <p><%= @role_model.gender %></p>
      <p><%= @role_model.description %></p>
  </div>
</div>
