<!-- # profile card
# infos about one role model -->

<div class="container">
  <div class="model_card">
    <div class="card_border">

      <%= link_to request.referer do %>
        <i class="fas fa-times card_icon"></i>
      <% end %>
      <div class="card_image">
        <%= image_tag(@role_model.picture, alt:'', title:(@role_model.first_name + " " + @role_model.last_name)) if @role_model.picture %>
      </div>
      <div>
        <h4 class="card-title"><%= @role_model.first_name %> <%= @role_model.last_name %></h4>
        <p class="card-subtitle mb-2 text-muted "><%= @role_model.sector.split(',').join(', ') %></p>
        <hr>
        <div id="bookmark-link">
          <%= render "role_models/bookmark_link" %>
        </div>
        <p class="card-text"><%= @role_model.description %></p>
        <% if @role_model.first_name && @role_model.last_name %>
          <div class="link-wiki">
          <a href="https://en.wikipedia.org/wiki/ <%= @role_model.first_name + ' ' + @role_model.last_name%>" target="_blank" class="btn-wiki">Read more <i class="fas fa-angle-double-right"></i></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>


